# Configurações do PJe
USER=seu_usuario_pje
PASSWORD=sua_senha_pje

# Configurações da API
API_URL=http://localhost:5000/upload
API_KEY=

# Configurações do servidor Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False

# Configurações de produção
FLASK_ENV=production 