# Configurações do PJE
USER=seu_usuario_pje
PASSWORD=sua_senha_pje

# Configurações da API
API_URL=https://api.seu-dominio.com/upload
API_KEY=sua_api_key_segura

# Configurações do servidor Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False
FLASK_ENV=production

# Configurações do domínio para Traefik
DOMAIN=seu-dominio.com

# Configurações opcionais
DOWNLOAD_TIMEOUT=45
WEBDRIVER_WAIT=10 